@font-face {
  font-family: 'Roboto-regular';
  src: url('../other/fonts/Roboto-Regular.eot');
  src: local('Roboto Regular'), url('../other/fonts/Roboto-Regular.ttf'), format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-light';
  src: url('../other/fonts/Roboto-Light.eot');
  src: local('Roboto Light'), url('../../other/fonts/Roboto-Light.ttf'), format('truetype');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('../other/fonts/Roboto-Bold.eot');
  src: local('Roboto Bold'), url('../../other/fonts/Roboto-Bold.ttf'), format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'genericaregular';
  src: url('../other/fonts/generica-webfont.woff2') format('woff2'),
         url('../other/fonts/generica-webfont.woff') format('woff'),
         url('../other/fonts/Generica.eot') format('eot');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'genericabold';
  src: url('../other/fonts/generica-bold-webfont.woff2') format('woff2'),
       url('../other/fonts/generica-bold-webfont.woff') format('woff'),
       url('../other/fonts/Generica.eot') format('eot');
  font-weight: bold;
  font-style: normal;

}

* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("../img/sample.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
}

h1 {
  font-family: 'Roboto-regular', sans-serif;
  text-align: center;
  margin: 0px auto;
  display: block;
  font-size: 30px;
  font-weight: 100;
  color: #124254;
}

.Awelcome-banner {
  float: left;
  position: relative;
  margin-left: 20px;
  margin-top: 180px;
}

h2 {
  font-family: 'genericaregular', sans-serif;
  color: #18566e;
  font-weight: inherit;
  font-size: 5em;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-family: 'Roboto-regular', sans-serif;
  color: #124254;
  font-weight: inherit;
  font-size: 1.5em;
  margin-top: 0px;
}

.Acontainer {
  max-width: 350px;
  border-radius: 5px;
  padding: 25px;
  background-color: #eceff1;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .19);
  text-align: center;
  float: left;
  position: relative;
  margin-top: 100px;
  margin-left: 200px;
}

img.Alogos {
  display: inline-block;
  padding-left: 25px;
  height: 70px;
  width: 70px;
}

.Alogo-container {
  margin-top: -85px;
  margin-left: 270px;
}

button {
  background-color: #124254;
  width: 30%;
  color: white;
  padding: 15px;
  margin: 10px 0px;
  border: none;
  cursor: pointer;
}

form {}

input[type=text], input[type=password] {
  width: 100%;
  margin: 8px 0;
  padding: 12px 20px;
  display: inline-block;
  box-sizing: border-box;
}

button:hover {
  opacity: 1;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  margin: 10px 5px;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 60%;
  font-family: inherit;
  font-size: 20px;
  text-align: center;
  text-align-last: center;
  cursor: inherit;
  line-height: inherit;
  margin-top: 0px;
}

.Alogo-banner {
  display: none;
}

/* Mobile CSS */

@media all and (max-width: 986px){
  .Awelcome-banner {
    display: none;
  }
  /* form {
    position: fixed;
    top: 80px;
    bottom: 80px;
    margin-left: -140px;
    margin-right: 30px;
  } */
  .Acontainer{
    position: relative; /* or absolute */
    display: inline-block;
    float: none;
    max-width: 100%;
    margin: 25px 10px 0 10px;
  }
  .Alogo-banner {
    display: inline-block;
    font-size: 1em;
    position: relative;
    text-align: center;
    top: 50;
  }
  .Arlogo {
    display: inline-block;
    position: relative;
    padding: 0px 30px 0px 10px;
    height: 15%;
    width: 15%;
  }
}