/*Header*/
.bheader {
  z-index: 100;
  padding: 2px 2px;
  background: #fece4b;
  color: black;
  font-weight: 400;
  width: 100%;
  text-align: center;
  font-family: 'Roboto-regular', sans-serif;
  letter-spacing: 6px;
}

.bheader1 {
  z-index: 100;
  padding: 2px 2px;
  color: #1f6f8f;
  font-weight: 400;
  width: 100%;
  text-align: center;
  font-family: 'Roboto-regular', sans-serif;
  letter-spacing: 6px;
  margin-top: 1%;
}
.bheader2 {
  z-index: 100;
  padding: 2px 2px;
  margin-top: 10%;
  color: #1f6f8f;
  font-weight: 400;
  width: 100%;
  text-align: center;
  font-family: 'Roboto-regular', sans-serif;
  letter-spacing: 6px;
  margin-top: 1%;
}

/* On-Going Election*/

.Belec1 p {
  font-family: 'Roboto-regular', sans-serif;;
  color: #1f6f8f;
  font-weight: inherit;
  font-size: 400%;
  margin-top: 6%;
  letter-spacing: 4px;
  text-align: center;
}

.Bon1 h1 {
  font-family: 'Roboto-regular', sans-serif;;
  color: #142d4f;
  font-weight: inherit;
  font-size: 550%;
  position: relative;
  letter-spacing: 4px;
  margin-top: 4px;
  text-align: center;
}

.Bres {
  margin: auto;
  padding: 1em 2.1em 1.1em;
  cursor: pointer;
  display: inline-block;
  width: 100%;
  border-radius: 10px;
  display: inline-block;
  font-size: 150%;
  text-align: center;
  position: relative;
}

.Bres p {
  font-family:'Roboto-regular', sans-serif;;
  letter-spacing: 1px;
  font-size: 100%;
}

/*No On-going Election*/

.Belec2 p {
  font-family:'Roboto-regular', sans-serif;;
  color: #1f6f8f;
  font-weight: inherit;
  font-size: 400%;
  margin-top: 10%;
  letter-spacing: 4px;
  text-align: center;
}

.Bon2 h1 {
  font-family: 'Roboto-regular', sans-serif;;
  color: #142d4f;
  font-weight: inherit;
  font-size: 550%;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 1%;
}

.Bon3 h1 {
  font-family: 'Roboto-regular', sans-serif;;
  color: #142d4f;
  font-weight: inherit;
  font-size: 100%;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 8%;
}

/* End of Election*/

.Belec_end1 p {
  font-family: 'Roboto-regular', sans-serif;;
  color: #1f6f8f;
  font-weight: inherit;
  font-size: 400%;
  margin-top: 4%;
  letter-spacing: 4px;
  text-align: center;
}

.Belec_end2 h1 {
  font-family: 'Roboto-regular', sans-serif;;
  color: #142d4f;
  font-weight: inherit;
  font-size: 550%;
  position: relative;
  letter-spacing: 4px;
  text-align: center;
  margin-top: -0.8%;
}

.Belec_end3 p {
  font-family:'Roboto-regular', sans-serif;;
  color: #1f6f8f;
  font-weight: inherit;
  font-size: 500%;
  margin-top: -4%;
  letter-spacing: 4px;
  text-align: center;
}

.Bres_end h1 {
  font-family: 'Roboto-regular', sans-serif;;
  color: #142d4f;
  font-weight: inherit;
  font-size: 150%;
  position: relative;
  letter-spacing: 4px;
  text-align: center;
  margin-top: 100px;
}


/* Election Archives Folder*/

.Barch p {
  font-family: Roboto regular, sans-serif;
  color: #142d4f;
  font-weight: inherit;
  font-size: 300%;
  position: relative;
  letter-spacing: 1px;
  text-align: center;
  margin-top: 40px;
}

.Bimg img {
  position: relative;
  z-index: -1000;
  max-width: 100%;
  height: auto;
}

.Bbox a {
  color: #1f6f8f;
  font-family: Roboto regular, sans-serif ;
  font-size: 200%;
  text-align: center;
  margin-top: -5px;
}

.Bbox a:hover {
  color: #124254;
}

.Bcard {
  position: relative;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  border-radius: 4px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  transition: 0.5s;
  border-radius: 60%;
}


/*Election Archives List*/

.Barch_year {
  font-family: 'Roboto-regular', sans-serif;;
  color: #1f6f8f;
  font-weight: inherit;
  font-size: 200%;
  position: relative;
  letter-spacing: 3px;
  text-align: center;
  margin-top: 50%;
}

.Barch_container {
  padding: 30px;
  color: black;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
  grid-template-rows: repeat(autofit, 30%);
  text-align: center;
  margin-top: -5px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.Barch_container>div {
  border-radius: 20px;
  background-color: rgba(21, 54, 69, 0.85);
  padding: 20px;
}

.Barch_container>div>img {
  border-radius: 50%;
  width: 80px;
}

.Barch_container>div>img>p {
  width: 100%;
  height: 0;
  object-fit: cover;
  text-align: center;
}

.Barch_container>div>p {
  font-family: 'Roboto-regular', sans-serif;;
  font-size: 15px;
  object-fit: cover;
  text-align: center;
}

.Bpstn .Bname {
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
  border-top-color: white;
  border-top-style: solid;
  border-top-width: 90%;
  padding-top: 10px;
}

.Bpstn .Bpstn {
  margin-top: -10px;
  color: #ffb700;
  font-weight: bold;
  font-size: 150%;
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 90%;
  padding-bottom: 10px;
}

.Bpstn .Bplat1 {
  margin-top: 15px;
  color: white;
  font-weight: bold;
  font-size: 120%;
  letter-spacing: 1px;
}

.Bpstn .Bplat2 {
  color: #ffb700;
  font-size: 100%;
  margin-top: -5px;
}

/*Election Results*/

.Bcon {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.Bvcontainer{ 
	position: relative;
	max-width: 1500px;
	justify-content: space-around;
	display: grid; 
	grid-column-gap: 10%; 
	grid-row-gap: 5%;
	grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
	grid-template-rows: repeat(1, 200%);  
}
.Bvcontainer .Bcard {
	position: relative;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	transition: 0.5s;
}
.Bvcontainer .Bcard:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: rgba(73, 163, 0, 0.03);
	pointer-events: none;
}
.Bbox1 a {
	color: #ffb700;
	font-family: 'Roboto-regular', sans-serif;
	font-size: 15px;
	text-align: center;
	padding: 10px;
	background-color: black;
}
.Bbox1 a:hover{
	color: white ;
}
.circle{
	color:  black; 
	font-size: 200%;
	font-family: 'Roboto-regular', sans-serif;
  }

.Belec_container {
  padding: 60px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
  grid-template-rows: repeat(5, 200px);
  text-align: center;
  margin-top: 1%;
}

.Belec_container>div>img {
  border-radius: 50%;
}

.Belec_container>div>p {
  font-family: 'Roboto-regular', sans-serif;;
  font-size: 15px;
  object-fit: cover;
  text-align: center;
}
.Bnum_votes {
  margin-top: 1%;
  font-family: 'Roboto-regular', sans-serif;;
  color: rgb(177, 88, 88);
  font-weight: bold;
  text-align: center;
}
.Bname {
  font-family: 'Roboto-regular', sans-serif;;
  font-size: 5%;
  object-fit: cover;
  text-align: center;
  color: #003d55;
}

.Bposition {
  font-family: 'Roboto-regular', sans-serif;;
  font-size: 2%;
  color:#2597c4 ;
  font-weight: bold;
  text-align: center;

}

.Bparty {
  font-family: 'Roboto-regular', sans-serif;;
  font-size: 2%;
  color:black;
  text-align: center;
}



/*Bar Graph*/
