body {
    background-color: rgb(221, 221, 221);
}

.Barc_container{
    width:80%;
    background-color: white;
}

.Byear_arc {
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}

.Byear_arc :hover, Byear_arc :active {
    text-decoration: none;
}

.items {
    text-align: center;
    float: left;
    margin-left: auto;
    margin-right: auto;
    align-self: auto;
    color: white;
    text-decoration: none;
}

.items:hover {
    background-color: rgb(255, 255, 255, 0.3);
    text-decoration: none;
}

.items figure {
    text-decoration: none;
    background-color: transparent;
    width: 160px;
    height: 180px;
}

figcaption {
    color: white;
}