.Uwrapper {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 45px;
}

.Uleft {
  width: 20%;
  height: 100%;
  margin-left: 20px;
  display: flex;
}

.Uright {
  width: 100%;
  height: 100%;
  float: left;
  display: flex;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

#side_pos thead {
  color: #EEEEEE;
  background-color: #18566e;
  /*overflow: hidden;*/
  font-size: 17px;

}

#side_pos th {
  color: #EEEEEE;
  background-color: #18566e;
  font-size: 1.2em;
  text-align: left;
  padding-left: 9px;
  font-family: 'roboto-regular', sans-serif;
}

#side_pos td {
  padding: 10px 10px 10px 10px;
  /*max-width: 170px;
      max-height: 170px;
      overflow: hidden;*/
  font-size: 20px;
  text-align: left;
  background-color: #fece4b;
  width: 170px;
  font-family: 'roboto-regular', sans-serif;
}


#side_pos button {
  padding: 0 200px;
  background-color: #18566e;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 100%;
}

.text-center {
  text-align: center;
}

/* .fa-plus{
  font-size: 15px;
  margin-left: 40px;
} */



/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body, section, .Uwrapper {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .Cand_header{
      max-width: 
    }
    .Uwrapper{
      margin-bottom: 45px;
    }
    .Uleft{
      display: contents;
    }
    table#side_pos.center{
      width: auto;
    }
    .Uright{
    overflow-y: scroll;
    height: 350px;
    margin-left: 0 !important;
    }
    #scrollToTopBtn{
    display: none;
    }
    .Urow{
      flex-wrap: wrap !important;
    }
  }
  @media only screen and (max-width : 320px) {
     body, section, .Uwrapper {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .Uleft{
      display: contents;
    }
    table#side_pos.center{
      width: auto;
    }
    .Uright{
    overflow-y: scroll;
    height: 350px;
    margin-left: 0 !important;
    }
    #scrollToTopBtn{
    display: none;
    }
     .Urow{
      flex-wrap: wrap !important;
    }
    .scroll_Top{
      display: 50px;
    }
  }
  @media only screen and (device-width: 320px) and (device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) {
      body, section, .Uwrapper {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .Uleft{
      display: contents;
    }
    table#side_pos.center{
      width: auto;
    }
    .Uright{
    overflow-y: scroll;
    height: 350px;
    margin-left: 0 !important;
    }
    #scrollToTopBtn{
    display: none;
    }
    .Uwrapper{
      padding-bottom: 50px;
    }
    .scroll_Top{
      margin-top: 50px;
    }
     .Urow{
      flex-wrap: wrap !important;
    }
  }
@media only screen and (device-width: 320px) and (device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2) { /*smartphones*/
      body, section, .Uwrapper {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    .Uleft{
      display: contents;
    }
    table#side_pos.center{
      width: auto;
    }
    .Uright{
    overflow-y: scroll;
    height: 350px;
    margin-left: 0 !important;
    }
    #scrollToTopBtn{
    display: none;
    }
    .Uwrapper{
      padding-bottom: 50px;
    }
    .scroll_Top{
      margin-top: 50px;
    }
  }
  @media (min-width:481px) and (max-width: 640px) { 
    body, section, .Uwrapper {
    -webkit-flex-direction: column;
    flex-direction: column;
    }
    table#side_pos.center{
      width: auto;
    }
    .Uright{
    overflow-y: scroll;
    width: 580px;
    margin-left: 10px !important;
    }
    #scrollToTopBtn{
    display: none;
    }
    .Uwrapper{
      padding-bottom: 50px;
    }
     .Urow{
      flex-wrap: nowrap !important;
    }
  }
  @media only screen and (device-width: 768px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) { 
    .Uwrapper{
      flex-direction: column;
    }
    .Uleft{
      display: grid; ;
    }

  }

/*countdown*/

aside {
  color: #333;
  float: left;
  text-align: center;
  margin-left: 50px;
  top: 50px;
  bottom: 0;
  position: relative;
  max-width: 500px;
}

div h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
  font-size: 4em;
  color: black;
  margin-bottom: .8em;
}

div ul {
  /* max-width: 90%; */
  border: 1px solid #ffc423;
  border-width: 3px;
  text-align: center;
  padding: 0;
}

div li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
  color: black;
}

div li span {
  display: block;
  font-size: 4.5rem;
}

aside p.Aelec-guide-txt {
  font-family: Roboto Regular, sans-serif;
  text-align: justify;
  font-size: 1.6em;
  margin-top: 3em;
}

#aside-container {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 5%;
}

.Cand_header {
    z-index: 100;
    padding: 2px 2px;
    background: #fece4b;
    color: black;
    font-weight: 400;
    width: 100%;
    text-align: center;
    font-family: 'Roboto-regular', sans-serif;
    letter-spacing: 6px;
    margin-bottom: 10%;
}

footer {
  background-color: #fece4b;
  position: relative;
  height: 5%;
  margin-top: auto;
  clear: both;
  text-align: center;
  padding: 5px 0px;
  letter-spacing: 7px;
}

.avatar img {
  border-radius: 50%;
  max-width: 150px;
  max-height: 150px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.column {
  flex-basis: 25%;
  float: right;
  padding: 0 10px;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

.Urow {
  margin: 0 -5px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  flex-wrap: wrap;
}
.modal-header{
  font-family: 'roboto-regular', sans-serif !important; 
}
.card_name{
  font-family: 'roboto-regular', sans-serif;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  width: 270px;
  max-width: 270px;
}

#profile h3 {
  font-size: 25px;
  height: 26px;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
}



.card_name::-webkit-scrollbar{
  display: none;
}


#profile p {
  font-size: 14px;
  font-family: Generica Thin, sans-serif;
}

#profile button {
  padding: 0 10px;
  background-color: #18566e;
  font-size: 20px;
  text-align: center;
  color: white;
  width: 100%;
}

.Urow:after {
  content: "";
  display: table;
  clear: both;
}



.credContainer {
  position: relative;
  padding: 15px;
  font-family: Roboto Regular, sans-serif;
  font-size: 15px;
  text-align: justify;
}

.platContainer {
  position: relative;
  padding: 15px;
  font-family: Roboto Regular, sans-serif;
  font-size: 15px;
  text-align: justify;
}

.btn {
  font-family: Roboto Regular, sans-serif;
  display: inline-block;
  padding: 6px 12px;
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}

#save {
  color: #fff;
  background: #124254;
  margin-bottom: 5px;
}

#cancel {
  background-color: #dddddd;
  margin: auto;
}

.modal-body {
  position: relative;
  padding: 15px;
}

.btn-xs, .btn-group-xs>.btn {
  padding: 0 !important;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px !important;
}

footer {
  background-color: #fece4b;
  position: relative;
  height: 5%;
  margin-top: auto;
  clear: both;
  text-align: center;
  padding: 5px 0px;
  letter-spacing: 7px;
}

#view h3 {
  font-family: Roboto Regular, sans-serif;
  text-decoration: none;
  margin-top: 0;
  text-align: left;
}


#scrollToTopBtn{
  float: right;  
  background-color: #124254;
  border: none;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 16px;
  line-height: 48px;
  width: 48px;
  margin-bottom: 50px;

}

.positionContainer{
      position: relative;
    padding: 15px;
    font-family: Roboto Regular, sans-serif;
    font-size: 15px;
    text-align: justify;
}

.gradeContainer{
      position: relative;
    padding: 15px;
    font-family: Roboto Regular, sans-serif;
    font-size: 15px;
    text-align: justify;
}

.nameContainer{
      position: relative;
    padding: 15px;
    font-family: Roboto Regular, sans-serif;
    font-size: 15px;
    text-align: justify;
}

