body {
    background-color: rgb(221, 221, 221);
}

.Byear_arc {
    text-decoration: none;
    font-size: large;
    color: aliceblue;
}

.Byear_arc :hover, Byear_arc :active {
    text-decoration: none;
}

.items {
    text-align: center;
    float: left;
    margin-top: 30px;
    margin-left: 100px;
    align-self: auto;
    color: white;
    text-decoration: none;
}

.items:hover {
    background-color: rgb(255, 255, 255, 0.3);
    text-decoration: none;
}

.items figure {
    margin: 0px 20px;
    text-decoration: none;
    background-color: transparent;
    width: 160px;
    height: 180px;
}

figcaption {
    color: white;
}

/* Samsung Galaxy S3, S4, S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
	.items {
        text-align: center;
        float: left;
        margin-top: 30px;
        margin-left: 100px;
        align-self: auto;
        color: white;
        text-decoration: none;
	}
}
	
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
    .items {
        text-align: center;
        float: left;
        margin-top: 150px;
        align-self: auto;
        color: white;
        text-decoration: none;
    }    
}