/* * {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    list-style: none;
  } */
  
  body {
    background-image: url('../../img/adminBG.png');
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    min-height: 100%;
    margin-bottom: 5%;
  }
  
.aboutheader {
    position: relative;
    z-index: -2;
    padding: 0.4% 0.4% 0.8% 0.4%;
    font-size: 1%;
    background: #124254;
    font-weight: 400;
    color: #ffc423;
    width: 100%;
    text-align: center;
    font-family: 'Roboto-regular', sans-serif;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.text-contain{
    /* background-color: black; */
    width: 90%;
    height: 50%;
    margin: 1% auto 1% auto;
    padding: 2%;
}

.about-title{
    color: white;
    font-family: 'genericaregular', sans-serif;
    font-weight: 600;
    font-size: 250%;
    letter-spacing: 7px;
    margin-bottom: 1%;
}

.text-des{
    color: #d4eaf1;
    background-color: rgba(18, 66, 84, 0.8);
    padding: 30px;
    font-size: 130%;
    /* text-align: justify; */
    letter-spacing: 1px;
}

.userMan:link, :visited{
    background-color: #fece4b;
    margin: 0% auto 0% auto;
    color: #124254;
    text-align: center;
    padding: 2%;
}

.userMan:hover{
    background-color: #ffc423;
    color: #08232d;
    text-decoration: none;
}


  
 @media screen and (max-device-width: 600px){
     body{
         margin-bottom: 20%;
     }
 }