/*Header*/
#ADheader {
	position: relative;
	z-index: -1;
	padding: 1px 1px;
	background: #124254;
	color: #ffc423;
	width: 100%;
	text-align: center;
	font-family: "Roboto-regular", sans-serif;
	letter-spacing: 6px;
	text-transform: uppercase;
}
h2.aHeader-txt {
	font-size: 24px;
	margin-top: 1%;
	margin-bottom: 1%;
}

/*Election Archives List*/
.Barch_year h3 {
	z-index: 100;
	padding: 2px 2px;
	color: white;
	font-weight: 400;
	width: 100%;
	text-align: center;
	font-family: "Roboto-regular", sans-serif;
	letter-spacing: 6px;
	margin-top: 1%;
}
.Barch_container {
	padding: 30px;
	color: black;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(200px, 5fr));
	grid-template-rows: repeat(autofit, 30%);
	text-align: center;
	margin-top: 18px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.Barch_container > div {
	border-radius: 20px;
	background-color: rgba(17, 50, 70, 0.7);
	padding: 20px;
}
.Barch_container > div > img {
	border-radius: 50%;
	width: 80px;
}
.Barch_container > div > img > p {
	width: 100%;
	height: 100%;
	object-fit: cover;
	text-align: center;
}
.Barch_container > div > p {
	font-family: Roboto;
	font-size: 15px;
	object-fit: cover;
	text-align: center;
}
hr{
	height: 30px;
}
.Bpstn .Bname {
	margin-top: 10px;
	color: #e1a911;
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	border-top-color: white;
	border-top-style: solid;
	border-top-width: 90%;
	padding-top: 10px;
	font-family: "Roboto-regular", sans-serif;
	letter-spacing: 2px;
}
.Bpstn .Bpstn {
	margin-top: -10px;
	color: #ffffff;
	font-weight: bold;
	font-size: 150%;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 90%;
	text-align: center;
	padding-bottom: 10px;
	font-style: italic;
	font-family: "Roboto-regular", sans-serif;
}
.Bpstn .Bplat1 {
	margin-top: 15px;
	color: #e1a911;
	font-weight: bold;
	font-family: "Roboto-regular", sans-serif;
	font-size: 90%;
	letter-spacing: 1px;
}
.Bpstn .Bplat2 {
	color: white;
	font-size: 85%;
	font-family: "Roboto-regular", sans-serif;
	margin-top: -5px;
}

/* Vote Status Percentage */
.Bcon {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.Bvcontainer {
	position: relative;
	max-width: 1500px;
	justify-content: space-around;
	display: grid;
	grid-column-gap: 10%;
	grid-row-gap: 4%;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-template-rows: repeat(1, 250px);
}
.Bvcontainer .Bcard {
	position: relative;
	width: 100%;
	display: grid;
	justify-content: center;
	align-items: center;
	height: 300px;
	border-radius: 4px;
	text-align: center;
	transition: 0.5s;
}
.Bvcontainer .Bcard:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0%;
	width: 100%;
	height: rgba(73, 163, 0, 0.03);
	pointer-events: none;
}
.Bbox a {
	color: white;
	font-family: "Roboto-regular", sans-serif;
	font-size: 20px;
	text-align: center;
	padding: 10px;
	background-color: black;
}
.Bbox a:hover {
	color: #ffb700;
}
.circle {
	color: #ffc423;
	font-size: 200%;
	font-family: "Roboto-regular", sans-serif;
}

/*Vote Status Per Grade Level*/
.Bvs_gradelevel h3 {
	z-index: -1;
	color: white;
	text-align: center;
	font-family: "Roboto-regular", sans-serif;
	letter-spacing: 6px;
	text-transform: uppercase;
	margin-top: -1%;
}
/*Datatable*/
#datatable {
	width: 100%;
	border: 2px solid #124254;
	font-family: "Roboto-regular", sans-serif;
	border-collapse: collapse;
	table-layout: auto;
	margin: 0px;
	text-align: center;
	background: rgba(255, 255, 255, 0.6);
}
table.center {
	margin-left: auto;
	margin-right: auto;
}
thead {
	border: 1px solid #124254;
	color: #eeeeee;
	background-color: #18566e;
	text-align: center;
}
tbody {
	border: 1px solid #124254;
}
th {
	color: #ffffff;
	background-color: #18566e;
	text-align: center;
	font-size: 10pt;
	font-family: 'Roboto-regular', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 1px solid #124254 !important;
  }
  
#tablehead {
	padding: 10px!important;
}
td {
	font-family: 'Roboto-regular', sans-serif;
	font-size: 11pt;
	border: 1px solid #124254;
	max-width: 150px;
	max-height: 150px;
	padding: 13px !important;
	overflow: hidden;
	word-wrap: break-word;
}
.container {
	background-color: rgba(255, 255, 255, 0.7);
	padding: 1rem;
	margin-top: 2%;
	margin-bottom: 3%;
	border: 2px solid #124254;
	width: 95% !important;
	height: 150%;
	opacity: 100%;
	font-size: 10ptrem;
}
table tbody tr:hover {
	background-color: #d3d3d3;
}
.pagination > li {
	display: inline;
	padding: 0px;
	margin: 0px;
	border: none;
}
.pagination > li > a,
.pagination > li > span {
	background-color: #eeeeee !important;
}
.pagination > li.active > a,
.pagination > li.active > span {
	background-color: #124254 !important;
}
.modal-backdrop {
	z-index: -1 !important;
}
iframe {
	height: 700px;
}

/* Election*/
.Belection_container {
	display: grid;
	grid-gap: 40px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
	grid-template-rows: repeat(5, auto);
	padding-right: 5%;
	padding-left: 5%;
	padding-top: 4%;
}
.Bcan {
	background-color: #777;
	color: white;
	font-weight: initial;
	width: 100%;
	text-align: center;
	margin-top: 20px;
}
.Bparty {
	background-color: #e6e4e4;
	color: rgb(56, 138, 180);
	width: 100%;
	text-align: center;
	font-weight: initial;
}
.Bposition1,
.Bposition2,
.Bposition3,
.Bposition4,
.Bposition5,
.Bposition6,
.Bposition7,
.Bposition8,
.Bposition9,
.Bposition10,
.Bposition11 {
	padding: 20px;
	background-color: white;
	width: 100%;
	height: auto;
	box-shadow: 0 20px 60px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}
.Bposition1 h1,
.Bposition2 h1,
.Bposition3 h1,
.Bposition4 h1,
.Bposition5 h1 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-family: "Roboto-regular", sans-serif;
	font-size: 120%;
	position: relative;
	text-align: center;
	margin-top: 2px;
}
.Bposition6 h1,
.Bposition7 h1,
.Bposition8 h1,
.Bposition9 h1,
.Bposition10 h1,
.Bposition11 h1 {
	color: rgb(0, 0, 0);
	text-transform: uppercase;
	font-family: "Roboto-regular", sans-serif;
	font-size: 200%;
	position: relative;
	text-align: center;
	margin-top: -5px;
}
.Bvote_percentage {
	background: #0c1d34;
	padding: 2px;
	box-sizing: border-box;
	border-radius: 0px;
	margin-top: 20px;
	margin-left: 60px;
}
.Bvote_level {
	background: #ffc423;
	width: 90%;
	height: 25px;
	border-radius: 1px;
	color: #1d6986;
	text-indent: 5px;
	font-family: "Roboto-regular", sans-serif;
	font-size: 130%;
}
.Banon {
	float: left;
	border-radius: 40%;
}
.Bbtn_post {
	text-align: center;
}
.Bbtn_postresults {
	border: none;
	font-style: "Roboto-regular", sans-serif;
	background-color: #ffc423;
	padding: 1em 2.1em 1.1em;
	cursor: pointer;
	border-radius: 10px;
	display: inline-block;
	width: auto;
	font-size: 90%;
	margin-top: 3%;
	box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
		inset 0 0 3px 0 rgba(255, 255, 255, 0.8),
		inset 0 0 3px 5px rgba(255, 255, 255, 0.07),
		2px 2px 4px 0 rgba(0, 0, 0, 0.25) !important;
	border-radius: 9px;
}
.Bbtn_postresults:hover {
	background: #e1a911;
}
.Bbtn_postresults:success {
	color: white;
}
.Bbtn_postresults:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.Bbtn_reset {
	text-align: center;
}
.Bbtn_resetresults {
	border: none;
	font-style: "Roboto-regular", sans-serif;
	background-color: #ffc423;
	padding: 1em 1.3em 1.1em;
	cursor: pointer;
	border-radius: 10px;
	display: inline-block;
	font-size: 90%;
	width: auto;
	margin-top: 1%;
	box-shadow: inset 0 0 2px 0 rgba(255, 255, 255, 0.4),
		inset 0 0 3px 0 rgba(255, 255, 255, 0.8),
		inset 0 0 3px 5px rgba(255, 255, 255, 0.07),
		2px 2px 4px 0 rgba(0, 0, 0, 0.25) !important;
	border-radius: 9px;
}
.Bbtn_resetresults:hover {
	background: #e1a911;
}
.Bbtn_resetresults:success {
	color: white;
}
.Bbtn_resetresults:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/*Election Report*/
.Bbtn_dl {
	text-align: center;
}
.Bbtn_dlreport {
	border: none;
	font-style: "Roboto-regular", sans-serif;
	background-color: #ffc423;
	padding: 1em 2.8em 1.1em;
	cursor: pointer;
	border-radius: 10px;
	display: inline-block;
	width: auto;
	font-size: 90%;
	margin-top: 12%;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.Bbtn_dlreport:hover {
	background: #e1a911;
}
.Bbtn_dlreport:success {
	color: white;
}
.Bbtn_dlreport:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.Bbtn_save {
	text-align: center;
}
.Bbtn_save2arc {
	border: none;
	font-style: "Roboto-regular", sans-serif;
	background-color: #ffc423;
	padding: 1em 2.1em 1.1em;
	cursor: pointer;
	border-radius: 10px;
	display: inline-block;
	width: auto;
	font-size: 90%;
	margin-top: 1%;
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
		0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.Bbtn_save2arc:hover {
	background: #e1a911;
}
.Bbtn_save2arc:success {
	color: white;
}
.Bbtn_save2arc:disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/* Popup Confirm Modal */
.dlg-container {
	position: fixed;
	left: 50%;
	top: -30%;
	transform: translateX(-50%) translateY(-50%);
	width: 400px;
	background: #fff;
	padding: 10px;
	border: 2px solid #ddd;
	box-shadow: 1px 1px 5px 1px #ccc;
	border-radius: 10px;
	opacity: 0;
	transition: all 0.3s linear 0s;
	z-index: 2;
}
.dlg-header {
	padding: 10px;
	font-weight: bold;
	background: #1d6986;
	color: white;
	font-style: "Roboto-regular", sans-serif;
	letter-spacing: 2px;
}
.dlg-body {
	padding: 10px;
	line-height: 30px;
	font-style: "Roboto-regular", sans-serif;
	text-align: center;
}
.dlg-footer {
	text-align: center;
	background: #f5f5f2;
	color: #e1a911;
	padding: 3px 0;
	font-style: "Roboto-regular", sans-serif;
}
.dlg-footer a {
	display: inline-block;
	width: 100px;
	padding: 5px 0;
	border: 1px solid #ccc;
	border-radius: 10px;
	cursor: pointer;
	font-style: "Roboto-regular", sans-serif;
}
.dlg-footer a:active {
	box-shadow: inset 2px 2px 4px 0 #ccc;
	color: #666;
}
.freeze-layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	z-index: 1;
}
