*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

body{
    font-family: Roboto, Generica, sans-serif;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}

nav{
  background: #f8f8f8;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .15 ),
              0 3px 6px rgba(0, 0, 0, .23);
}
nav:after{
  content: '';
  clear: both;
  display: table;
}

.logo-pic{
          float: left;
          margin-top: 15px;
          margin-left: 15px;
          width: 60px;
          height: 60px;
 }

 .logo{
      float: left; 
      position: relative;
      margin-top: 17px;
      margin-left: 8px;
 }

 h1{
  font-family: Roboto Regular, sans-serif;
  font-weight: inherit;
  font-size: 20px;
  margin-bottom: 0px;
 }

 p{
  font-family: Generica Regular, sans-serif;
  font-weight: inherit;
  font-size: 30px;
  margin-top: 0px;
 }


nav ul{
  float: left;
  list-style: none;
  position: relative;
}
nav ul li{
  float: left;
  display: inline-block;
  background: #f8f8f8;
  margin: 10px 30px;
}
nav ul li a{
  color: #3b505d;
  line-height: 70px;
  text-decoration: none;
  font-size: 20px;
  padding: 33px 31px;
}
nav ul li a:hover{
  border-radius: 3px;
  box-shadow:  inset 0 0 10px rgba(0,0,0,0.2);
}
nav ul ul li:hover{
  background-color: #142d4f;
}
nav ul ul li a:hover{
  box-shadow: none;
}
nav ul ul{
  position: absolute;  
  top: 50px;
  border-color: #1f6f8f;
  opacity: 0;
  visibility: hidden;
  transition: top .3s;
}
nav ul li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li{
  background-color: #1f6f8f;
  position: relative;
  left: -55px;
  bottom: -22px;
  margin: 0px;
  width: 250px;
  text-align: center;
  float: none;
  display: list-item;
  border-bottom: 2px solid rgba(0,0,0,0.3);
}
nav ul ul li a{
  color: white;
  line-height: 50px;
}

.dropbtn {
  cursor: pointer;
}

.dropdown, img {
  float: left;
  margin-top: 10px;
  height: 50px;
  width: 50px;
  position: relative;
}

.dropdown-content {
  background-color: #1f6f8f;
  display: none;
  position: absolute;
  text-align: center;
  left: -60px;
  margin-top: 15px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: list-item;
  border-bottom: 2px solid rgba(0,0,0,0.3);
}
.dropdown-content span {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: list-item;
  border-bottom: 2px solid rgba(0,0,0,0.3);
}
.dropdown-content a:hover {
  background-color: #142d4f;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  transition:height 0.4s ease-in-out 0s;
    -moz-transition:height 0.4s ease-in-out 0s;
    -webkit-transition:height 0.4s ease-in-out 0s;
    -o-transition:height 0.4s ease-in-out 0s
}

.welcome-banner{
  float: left;
  margin-left: 40px;
  margin-top: 200px;
}
h2, h4{
  font-family: Roboto Regular, sans-serif;
  font-weight: inherit;
  color: #142d4f;
}
h4{
  font-size: 25px;
}
h3{
  font-family: Generica Regular, sans-serif;
  font-weight: inherit;
  font-size: 55px;
  color: #1f6f8f;
}
.countdown-container{
  text-align: center;
  float: right;
  position: relative;
  max-width: 450px;
  margin-top: 100px;
  margin-right: 150px;
}
h5, h6{
  font-family: Roboto Regular, sans-serif;
  font-weight: inherit;
}
h5{
  font-size: 40px;
}
h6{
  margin-top: 100px;
  font-size: 15px;
}

.countdown-box{
  margin-top: 10px;
  margin-bottom: 20px;
  border: 15px 40px;
  border-style: solid;
  border-color: #ffc423;
  padding: 15px 30px;
}


.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #ffc423;
  color: #000000;
  text-align: center;
}

div.footer p{
    font-family: Roboto Regular, sans-serif;
    font-weight: inherit;
    font-size: 15px;
}

page-title{
  text-align: center;
}
